@font-face {
  font-family: 'Acme';
  src: url(../font/Acme/Acme-Regular.ttf);
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../font/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, * {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

h1 {
  font-size: 42px;
  font-family: 'Acme', sans-serif;
}

.lfont {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Acme';
}

.mfont {
  font-size: 20px;
  font-family: 'Playfair Display';
  line-height: 30px;
}

.sfont {
  font-size: 12px;
  font-family: 'Playfair Display';
}

.myCenter {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.myShadow {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.myTextShadow {
  text-shadow: 2px 2px 2px rgb(151, 162, 167);
}

.myWhiteText {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.myHr {
  width: 200px;
  border: 0.5px solid grey;
}

.secDevider {
  margin-top: 100px;
}

.paraDevider {
  margin-top: 50px;
}

.text-align {
  text-align: left;
}

/* nav - start */

nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 65px;
  border-bottom: 0.5px #555 solid;
  background-color: #333;
}

.burgerContainer {
  height: 65px;
  width: 65px;
  padding: 15px;
}

.burger1, .burger2, .burger3 {
  border-radius: 10px;
  border-bottom: 3px solid white;
  margin-bottom: 7px;
}

.burger1 {
  width: 20px;
}

.burger2 {
  width: 35px;
}

.burger3 {
  width: 45px;
}

.navContent {
  position: fixed;
  top: 65px;
  left: -200%;
  width: 100%;
  height: 100vh;
  background-color: #333;
  transition: 1s all ease;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.navContent ul {
  width: 100%;
  height: 100vh;
}

.navContent ul li {
  list-style: none;
  width: 100%;
  margin-top: 25px;
}

.navContent ul li a {
  text-transform: uppercase;
  height: 100px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* nav - end */

/* Section 1 - index - start */

.sec1 {
  margin-top: 65px;
  background: radial-gradient(#333, #000);
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.sec1_para {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -80px;
  text-align: center;
  line-height: 40px;
}

.sec1>div>p {
  border: 1px solid white;
  display: inline-block;
  border-radius: 10px;
  background-color: #222;
  padding: 0px 10px;
  margin-top: 10px;
  cursor: pointer;
  color: grey;
}

.leafSet {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.leafImg {
  width: 100%;
}

.leafSet div {
  position: absolute;
  width: 100px;
}

.leafSet div:nth-child(1) {
  left: 0%;
  animation: animate 40s linear infinite;
  animation-delay: -6s;
}

.leafSet div:nth-child(2) {
  left: 20%;
  animation: animate 30s linear infinite;
  animation-delay: -5s;
}

.leafSet div:nth-child(3) {
  left: 30%;
  animation: animate 35s linear infinite;
  animation-delay: -9s;
}

.leafSet div:nth-child(4) {
  left: 50%;
  animation: animate 25s linear infinite;
  animation-delay: -2s;
}

.leafSet div:nth-child(5) {
  left: 60%;
  animation: animate 28s linear infinite;
}

.leafSet div:nth-child(6) {
  left: 65%;
  animation: animate 24s linear infinite;
  animation-delay: -7s;
}

@keyframes animate {
  0% {
    top: -10%;
    opacity: 0;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(135deg);
  }
  80% {
    opacity: 1;
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 100%;
    opacity: 0;
    transform: translateX(-20px) rotate(225deg);
  }
}

.leafSet2 {
  transform: scale(0.9) rotateY(180deg);
  filter: blur(2px);
}

.leafSet3 {
  transform: scale(0.5) rotateX(180deg);
  filter: blur(4px);
}

/* Section 1 - Greeting (index.html) - end */

/* Section 2 - About (index.html) - start */

#about {
  padding: 20px;
  width: 100%;
}

#about>header {
  width: 100%;
}

#about>header>h1 {
  display: block;
  text-align: center;
}

/* Section 2 - About (index.html) - end */

/* Section 3 - Slider - About (index.html) - start */

.sec3_sliderContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
}

.sec3_slider {
  width: 100px;
  height: 100px;
  margin-right: 35px;
}

.sec3_slider img, .sec3_slider div {
  width: 100px;
  height: 95px;
}

/*
 .sec3_sliderBtn_left,
 .sec3_sliderBtn_right {
   position: absolute;
   top: 0;
   left: 0;
   width: 30px;
   height: 95px;
   background-color: rgba(0, 0, 0, 0.4);;
   font-size: 35px;
   cursor: pointer;
 }
  .sec3_sliderBtn_right {
    right: 0;
  }
  */

/* Section 3 - Slider - About (index.html) - end */

/* Section 4 - Projects (index.html) - start */

.myProjectsContainer {
  width: 100%;
  margin-top: 100px;
  padding: 40px 0 100px 0;
  background: radial-gradient(#000, #333);
  position: relative;
  z-index: 0;
}

.sec4_myProjectsContainer {
  width: 100%;
}

.projectContainer3, .projectContainer2, .projectContainer1 {
  width: 330px;
  padding: 15px;
  border-radius: 5px;
}

/*
background: linear-gradient(315deg, #ff0057, #e64a19);
background: linear-gradient(315deg, #89ff00, #00bcd4);
background: linear-gradient(315deg, #e91e63, #5do2ff);
background: linear-gradient(315deg, #ff0000, #ffc107);
*/

.projectContainer3>footer, .projectContainer2>footer, .projectContainer1>footer {
  display: flex;
  margin-bottom: 30px;
}

.projectContainer3>footer div, .projectContainer2>footer div, .projectContainer1>footer div {
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.projectPicContainerLayOut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* #3 Ecommerce - Project-3 start*/

.projectContainer3 {
  /*background: linear-gradient(315deg, #254117, #00bcd4);*/
  background: radial-gradient(#000, #333);
  position: relative;
}

/*Edges Light - Project-3 ecommerce*/

.projectContainer3:before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(315deg, #e91e61, #5d02ff);
  z-index: -1;
  transform: skew(2deg, 2deg);
}

.project3PicContainer {
  background: linear-gradient(315deg, #e91e61, #5d02ff);
  transform: perspective(600px) rotateY(-90deg);
  transform-origin: top right;
  transition: all .5s ease;
}

.project3PicContainer img {
  width: 130%;
}

/*End - #3 Ecommerce - Project-3*/

/* #2 Hotel Business - Project-3 start*/

.projectContainer2 {
  /*background: linear-gradient(315deg, #C12869, #5d02ff);*/
  background: radial-gradient(#000, #333);
  position: relative;
}

.projectContainer2:before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(315deg, #89ff00, #00bcd4);
  z-index: -1;
  transform: skew(2deg, 2deg);
}

.project2PicContainer {
  background: linear-gradient(315deg, #89ff00, #00bcd4);
  transform: perspective(600px) rotateY(-90deg);
  transform-origin: top left;
  transition: all .5s ease;
}

.project2PicContainer img {
  width: 130%;
}

/*End - #2 Hotel Business - Project-3*/

/* #1 Business Website - Project-3 start*/

.projectContainer1 {
  /*background: linear-gradient(315deg, #800517, #F70D1A);*/
  background: radial-gradient(#000, #333);
  position: relative;
}

.myProjectsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-row-gap: 40px;
}

.projectContainer1:before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(315deg, #ff0000, #ffc107);
  z-index: -1;
  transform: skew(2deg, 2deg);
}

.project1PicContainer {
  background: linear-gradient(315deg, #ff0000, #ffc107);
  transform: perspective(600px) rotateY(-90deg);
  transform-origin: top;
  transition: all .5s ease;
}

.project1PicContainer img {
  width: 130%;
}

/*End - #1 Business Website - Project-3*/

/* Section 4 - Projects (index.html) - start */

.color_black {
  color: black;
}

.mainFooter {
  padding: 30px 30px 0 30px;
  margin-top: 50px;
  text-align: center;
  background-color: #483C32;
  position: relative;
  background-color: #333;
}

/*
.goToTopBtn {
  width: 50px;
  line-height: 20px;
  background-color: black;
  border-radius: 5px;
  padding: 5px 2px 0 2px;
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -30px;
  cursor: pointer;
}

.goToTopBtn>a {
  color: yellow;
  font-weight: 999;
  font-size: 25px;
}

.goToTopBtn>a>sup {
  font-size: 16px;
}
*/
@media only screen and (min-width: 700px) {
  .sec3_sliderContainer {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}