@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.bodyWrapper{
    background-color: rgb(147, 147, 147);
    font-family: 'Poppins', sans-serif;
    color: rgb(62, 62, 62);
    width: 595px;
    height: 842px;
}
.center{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}
a,
span{
    color: rgb(194, 165, 0)!important;
}
    a:hover,
    span:hover{
        color: gold;
        text-decoration: none;
    }


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .rightSide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.leftSide{
    background-color: rgb(50, 50, 50);
    padding: 10px 0;
    height: 886px;
}
    .leftSide_titleFormat{
        border: 1px solid rgb(155, 155, 155);
        border-radius: 10px;
        padding: 5px 15px;
        margin-top: 25px;
        text-transform: uppercase;
        color: rgb(226, 226, 226);
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 2px;
    }
    .leftSide_textHeaderFormat{
        text-transform: uppercase;
        color: rgb(226, 226, 226);
        font-weight: 200;
        font-size: 12px;
        letter-spacing: 5px;
        margin-top: 5px;
    }
    .leftSide_textFormat{
        color: rgb(226, 226, 226);
        font-weight: 200;
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 20px;
        margin-top: 5px;
        padding: 10px 20px;
    }
    .profileHeader{
        margin-top: 20px!important;
    }
        .profilepic{
            width: 100px;
            height: 90px;
            border-radius: 50%;
        }
        .profilepic img{
            width: 100px;
            height: 90px;
            border-radius: 50%;
        }
        .divider{
            width: 80%;
            margin: 10px 0 10px 0;
            border-bottom: 1px solid white;
        }
    .leftSide_skillsIcons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
    }
        .leftSide_skillsIcons img{
            width: 40px; height: 40px;
            margin: 6px;
        }

.rightSide{
    background-color: rgb(78, 78, 78);
    width: 100%; height: 886px;
    overflow-y: scroll;
    padding: 0 25px!important;

    /* Scroll down 100vh ======================================*/
    transform: translate3d(0px, 0px, 0px);
    transition: all 700ms ease;
}
    .rightSide_header{
        padding: 5px 15px;
        margin-top: 25px;
        text-transform: uppercase;
        color: rgb(226, 226, 226);
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 2px;
    }
    .rightSide_titleFormat{
        text-transform: uppercase;
        color: rgb(226, 226, 226);
        font-weight: 900;
        font-size: 11px;
        letter-spacing: 1.2px;
    }
    .rightSide_titleFormat_SM{
        color: rgb(226, 226, 226);
        font-weight: 200;
        font-size: 10px;
        letter-spacing: 1px;
    }
    .rightSide_textFormat{
        color: rgb(226, 226, 226);
        font-weight: 200;
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 15px;
        margin-top: 5px;
    }
    .rightSide_hr{
        width: 100%;
        margin: 10px 0 10px 0;
        border-bottom: 1px solid white;
    }
    .rightSide_para_hr{
        width: 80%;
        margin: 0 0 30px 0;
        border-bottom: 1px dashed rgb(113, 113, 113);
    }


    .rightSide_educationBody, .rightSide_projectsHeader{
        border-left: 1px solid #F2f2f2;
    }
        .educationBody_row, .projectNumber{
            margin-bottom: 15px;
        }

    .rightSide_projectsBody{

    }


@media only screen and (max-width: 770px) {
    .bodyWrapper {
        width: 100%;
    }
}

@media print {

    .bodyWrapper {background-color: #fff;}
    .rightSide{height: 200vh;}
    .leftSide{height: 200vh;}
    .rightSide_textFormat{width: 500px;}
    
  }
